### dotenv ###
.env
.venv/
### IDE ###
.vscode/

### Airflow ###
logs/
config/airflow.cfg
### Python ###
__pycache__/
*.pyc

### Tests ###
.pytest_cache/

### Lint ###
.ruff_cache/

### Temporary ###
test.ipynb